.new-chap {
    color: #3e3e3e;
    width: 96%;
    padding: 10px 2%;
    background: #FFF;
    text-align: justify;
    margin-bottom: 10px;
    float: left;
    font-size: 14px;
    margin-top: 10px;
}
.new-chap h2 {color: #333;font: 700 12px Tahoma;padding-bottom:5px; }
.new-chap a {display: block;  padding: 2px 1px 3px; color: red;}

.new-chap .btn-notify { background-color: #f8e378; font-size: 12px; padding: 1px 5px; border-radius: 4px; cursor: pointer; font-weight: 600; margin-top: 7px; font-style: italic;}

#rate_row_cmd {color: #555;line-height: 11px; font-size: 11px; font-style: italic;display:block; padding-left: 92px;}
#valore {
    display: inline-block;
    font-size: 15px;
}
#valore b {
    color: #c03a2a;
}
.spire.show--less, .spire.show--more
{
    width:15px;
    height:15px;
    margin-top:4px;
}
.spire.show--less
{
    background-position:-142px 0px;
}
.spire.show--more
{
    background-position: -125px 0px;
}

.book-info {
    float: left;
    width: 100%
}
.book-info-top {
    float: left;
    width: 96%;
    background: rgba(255, 255, 255, 0.8);
    padding: 2%
}
.book-info-pic {
    float: left;
    width: 32%
}
.book-info-pic img {
    max-width:100%;
    height: 268px;
}

.book-info-content {
    float: left;
    width: 100%;
    border-top: 1px dashed #ff530d;
    margin-bottom: 10px
}
.book-info-content a {
    color: #0830FF
}
.noidung {
    font: normal 14px Tahoma;
    color: #ff530d
}
.book-info-content p {
    font: 400 14px Tahoma;
    color: #3e3e3e;
    width: 96%;
    padding: 10px 2%;
    background: #FFF;
    text-align: justify
}
.book-info-content p::-webkit-scrollbar-track {
    background: none
}
.book-info-content p::-webkit-scrollbar-track-piece {
    background: none
}
.book-info-content p::-webkit-scrollbar {
    width: 2px
}
.book-info-content-title {
    background: #ff530d
}
.book-info-chapter {
    width: 98%;
    float: left;
    padding-left: 2%;
    background: #fff
}
.comment-info {
    background: #FFF;
    float: left;
    width: 98%;
    padding: 10px 1%
}

#chapter,#chapter-list {
    position: relative;
    float: left;
    width:100%;
}
#chapter .phan-trang {
    position: absolute;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 5px 0px;
    margin-bottom: 0;
    width: 98%;
    box-sizing: border-box
}

