.category-container {
    display: flex;
    justify-content: center;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 16px;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    word-break: break-word;
}

.category-item label {
    margin-top: 8px;
}